.contact__container{
  margin: 6rem 9.8rem 10rem 9.8rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.contactadresses__container{
display: flex;
flex-direction: row;
justify-content: space-between;
 
}
.contact__title {
  margin: 0rem 0 2.5rem 0.75rem;
}
.contact__address {
  padding: 0 1.5rem;
  margin-top: 0;
}
@media (max-width: 768px) {
  .contact__container {
    margin: 2.5rem 2.5rem 4.5rem 2.5rem;
  }
  .contactadresses__container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .contact__title {
  margin: 0 0 1rem 0.75rem;
}
  .contact__address {
  padding: 0 1.5rem;
  text-align: center;

}
}