footer{
  background-color: var(--black);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.13rem;
  padding-right: 4.5rem ;
  height: 13.5rem;
}
@media (max-width: 768px) {
  footer{
    padding-right: 0;
    justify-content: center;
    height: 11.5rem;
  }
}